<!--suppress HtmlFormInputWithoutLabel -->
<md-dialog aria-label="Add employee dialog" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.context}} Employee</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="employeeDialog" novalidate ng-cloak ng-submit="vm.submit($event)">
        <md-dialog-content layout-padding>
            <div class="md-dialog-content">
                <h3>Personal Information</h3>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="first_name">First Name</label>
                    <input type="text" ng-model="vm.emp.first_name" required name="first_name">
                    <div ng-messages="employeeDialog.first_name.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            This field is required
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="last_name">Last Name</label>
                    <input type="text" ng-model="vm.emp.last_name" required name="last_name">
                    <div ng-messages="employeeDialog.last_name.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            This field is required
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div class="md-dialog-content">
                <h3>Placement Information</h3>
            </div>
            <md-content class="md-padding autocomplete" layout="column" flex>
                <md-contact-chips
                        ng-model="vm.emp.client"
                        md-contacts="vm.querySearch($query)"
                        md-contact-name="name"
                        md-require-match="true"
                        filter-selected="true"
                        placeholder="Clients"
                        secondary-placeholder="Clients">
                </md-contact-chips>
                <p class='red-text md-caption' ng-show="vm.emp.client.length == 0"> Required </p>
            </md-content>
            <md-content class="md-padding autocomplete" layout="column" flex>
                <md-chips
                        ng-model="vm.emp.skill"
                        md-separator-keys="vm.keys"
                        placeholder="Skills"
                        secondary-placeholder="Comma separated skill">
                </md-chips>
                <p class='red-text md-caption' ng-show="vm.emp.skill.length == 0"> Required </p>

            </md-content>
            <div layout-gt-sm="row">

                <div layout="row" flex>
                    <md-autocomplete flex required
                                 ng-if="vm.context!=='Edit'"
                                 md-input-name="autocompleteField"
                                 md-selected-item="vm.selectedRecruiter"
                                 md-selected-item-change="vm.selectedItemChange(vm.selectedRecruiter)"
                                 md-search-text="vm.searchText"
                                 md-select-on-match="true"
                                 md-items="recruiter in vm.searchRecruiters(vm.searchText)"
                                 md-item-text="recruiter.value"
                                 md-require-match
                                 md-floating-label="recruiter">
                    <md-item-template>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{recruiter.value}}</span>
                    </md-item-template>
                    <div ng-messages="employeeDialog.autocompleteField.$error" ng-if="employeeDialog.autocompleteField.$touched">
                        <div ng-message="required">You <b>must</b> specify a recruiter.</div>
                        <div ng-message="md-require-match">Please select an existing recruiter.</div>
                    </div>
                    </md-autocomplete>

                    <md-input-container>
                        <label>Start Date</label>
                        <md-datepicker md-open-on-focus="true" name="startDate" ng-required="true"
                                       ng-model="vm.emp.start_date"></md-datepicker>
                        <div ng-messages="employeeDialog.startDate.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                        </div>
                    </md-input-container>
                </div>
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                <!--<label for="recruiter">Recruiter</label>-->
                <!--<input type="text" ng-disabled="vm.context==='Edit'" name="recruiter" ng-model="vm.emp.recruiter"-->
                <!--required>-->
                <!--</md-input-container>-->
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="placement">Placement type</label>
                    <md-select name="placement" ng-model="vm.emp.placement_type" required>
                        <md-option value="fulltime">Full Time</md-option>
                        <md-option value="project">Project</md-option>
                        <md-option value="parttime">Part Time</md-option>
                    </md-select>
                    <div ng-messages="employeeDialog.placement.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                        This field is required
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="md-dialog-content">
                <h3>Financial Information</h3>
            </div>
            <div layout-gt-xs="row">
                <div layout-align-gt-sm="column" flex>
                    <md-input-container class="md-block" flex>
                        <label for="salary">Salary</label>
                        <input required type="text" name="salary" ng-model="vm.emp.salary" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.salary.$error"  md-auto-hide="true">
                            <div ng-message="required" role="alert">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent salary.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label for="insurance">Insurance cost</label>
                        <input required type="text" name="insurance" ng-model="vm.emp.insurance" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.insurance.$error" md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent insurance cost.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label for="pay_vacation_cost">Vacation cost</label>
                        <input required type="text" name="pay_vacation_cost" ng-model="vm.emp.pay_vacation_cost" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.pay_vacation_cost.$error" md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent vacation cost.
                            </div>
                        </div>
                    </md-input-container>

                      <md-input-container class="md-block" flex>
                        <label for="target_bill_rate">Target Bill Rate</label>
                        <input required type="text" name="target_bill_rate" ng-model="vm.emp.target_bill_rate" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.target_bill_rate.$error" md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent bill rate.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-align-gt-md="column" flex>
                    <md-input-container class="md-block" flex>
                        <label for="relocation">Relocation cost</label>
                        <input type="text" name="relocation" ng-model="vm.emp.relocation" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.relocation.$error" multiple md-auto-hide="true">
                            <div ng-message="pattern">
                                Only numbers can represent relocation costs.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label for="immigration">Immigration cost</label>
                        <input type="text" name="immigration" ng-model="vm.emp.immigration" ng-pattern="/^\d*\d$/"/>
                        <div required ng-messages="employeeDialog.immigration.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent insurance cost.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label for="client_bill_pay">Client Bill Pay</label>
                        <input required type="text" name="client_bill_pay" ng-model="vm.emp.client_bill_pay" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.client_bill_pay.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent insurance cost.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label for="ksquare_hourly_cost">KSquare Hourly Cost</label>
                        <input required type="text" name="ksquare_hourly_cost" ng-model="vm.emp.ksquare_hourly_cost" ng-pattern="/^\d*\d$/"/>
                        <div ng-messages="employeeDialog.ksquare_hourly_cost.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                This field is required
                            </div>
                            <div ng-message="pattern">
                                Only numbers can represent insurance cost.
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
                <md-button type="submit" confirm="vm.deferred" confirm-action="vm.context.toLowerCase()" ng-disabled="employeeDialog.$invalid || vm.emp.client.length == 0 || vm.emp.skill.length == 0" class="md-raised md-primary">
                    Submit
                </md-button>
        </md-dialog-content>
    </form>
</md-dialog>