<md-sidenav ng-if="sidebar.isLoggedIn()"
        class="md-sidenav-left"
        md-component-id="toolbar"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="2" layout="column" flex>

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Tools</h1>
    </md-toolbar>
    <md-content  flex>
        <md-list flex>
            <md-list-item class="md-1-line" >
                <div class="md-list-item-text" >
                    Reports
                </div>
                <md-button class="md-secondary md-icon-button"  >
                    <md-icon class="" md-font-set="material-icons">assessments</md-icon>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ui-sref-active="nav-active" ui-sref=".report.skill">
                <md-icon md-font-set="material-icons" class="md-avatar">timeline</md-icon>
                <div class="md-list-item-text ">
                    <h3>Skills</h3>
                    <p>View skills reports</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ui-sref-active="nav-active" ui-sref=".report.client">
                <md-icon md-font-set="material-icons" class="md-avatar">timeline</md-icon>
                <div class="md-list-item-text ">
                    <h3>Client</h3>
                    <p>View client reports</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
                <md-icon md-font-set="material-icons" class="md-avatar">timeline</md-icon>
                <div class="md-list-item-text ">
                    <h3>Recruiter</h3>
                    <p>View recruiter reports</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ui-sref-active="nav-active" class="md-1-line" ui-sref="main.employee">
                <div class="md-list-item-text" layout="column">
                    Employees
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="null" >
                    <md-icon class="" md-font-set="material-icons">account_box</md-icon>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    Recruiters
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="null" >
                    <md-icon class="" md-font-set="material-icons">account_box</md-icon>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-1-line" ui-sref=".hours" ui-sref-active="nav-active">
                <div class="md-list-item-text" layout="column">
                    Register Month
                </div>
                <md-button class="md-secondary md-icon-button">
                    <md-icon class="" md-font-set="material-icons">grade</md-icon>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>

    </md-content>
</md-sidenav>