<div>
    <md-toolbar class=" md-hue-1">

        <div class="md-toolbar-tools">
            <h2>
                <span>Employees</span>
            </h2>
            <md-button class="md-fab md-mini md-primary" aria-label="Eat cake">
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-show="vm.selected.length==1" ng-click="vm.edit(vm.selected)" class="md-icon-button"
                       aria-label="edit">
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
            </md-button>
            <md-button ng-show="vm.selected.length" ng-click="vm.delete(vm.selected)" class="md-icon-button"
                       aria-label="delete">
                <md-icon md-font-set="material-icons">delete</md-icon>
            </md-button>

            <!--activate deactive-->
            <md-menu ng-show="vm.selected.length" md-position-mode="target-right target" md-offset="0 42">

                <md-button ng-click="vm.openMenu($mdOpenMenu, $event)"
                           class="md-icon-button" aria-label="delete">
                    <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button>
                            Activate
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Deactivate
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <mdt-table
            paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"
            selectable-rows="true"
            selected-row-callback="vm.selectedRowCallback(rows)">
        <mdt-header-row>
            <mdt-column column-sort="true" align-rule="left">Employee Name</mdt-column>
            <mdt-column column-sort="true" align-rule="right">Clients</mdt-column>
            <mdt-column column-sort="true" align-rule="right">Skills</mdt-column>
            <mdt-column column-sort="true" align-rule="right">Recruiter</mdt-column>
            <mdt-column column-filter="currency" column-sort="true" align-rule="right">Revenue</mdt-column>
        </mdt-header-row>
        <mdt-row ng-repeat="employee in vm.employees" table-row-id="employee._id">
            <mdt-cell>{{employee.first_name + " " + employee.last_name}}</mdt-cell>
            <mdt-cell>{{employee.client.join(", ")}}</mdt-cell>
            <mdt-cell>{{employee.skill.join(", ")}}</mdt-cell>

            <mdt-cell>{{employee.recruiter}}</mdt-cell>
            <mdt-cell>{{1 | currency}}</mdt-cell>
        </mdt-row>

    </mdt-table>

</div>